#hero{
    height: 300px;
    margin-bottom: auto;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#monster{
    height: 300px;
    padding-left: 600px;
}

#ctn-pictures{
    width: 90%;
    height: 400px;
    margin: 1%;
    margin-right: 5%;
    margin-left: 5%;
    border: solid;
}

#ctn-gameState   {
    margin: 1%;
    margin-left: 5%;
    margin-top: 5%;
    height: 100px;
    width: 90%;
    border: solid;
}


#ctn-buttons{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}


#ctn-logs   {
    margin: 1%;
    margin-left: 5%;
    margin-top: 5%;
    height: 400px;
    width: 90%;
    margin: 5%;
    border: solid;
    overflow-x:hidden;
    overflow-y:auto;
}

